/* Custom Stylesheet */

/* Change the scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffd27e;
  border-radius: 20px;
  border: 3px solid transparent;
}

.add {
  position: absolute;
  top: 26px;
  right: 16px;
}
